.m-job-menu {
  padding: 0 $padding-xl;

  .m-job-menu__contain-item {
    position: relative;
    cursor: pointer;

    .item {
      position: relative;
      left: rem(50px);
      padding: 0 $padding-xs;
      background-color: $white;
      font-size: $font-xs;
      cursor: pointer;
    }

    .item-more {
      position: absolute;
      top: -6px;
      right: rem(50px);
      padding: $padding-xxs;
      transition: opacity .1s linear;
      border: 1px solid $primary-color;
      background-color: $white;
      opacity: 0;
    }

    &.-x2 {
      margin-top: rem(25px);

      .item {
        left: rem(150px);
      }
    }

    &.-x3 {
      margin-top: rem(25px);

      .item {
        left: rem(250px);
      }
    }

    &::before {
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      height: rem(1px);
      background-color: $primary-color;
      content: '';
    }

    &:hover {
      .item-more {
        opacity: 1;
      }
    }
  }

  .m-job-menu__contain-content {
    position: absolute;
    top: 25px;
    left: calc(100vw + 60px);
    width: calc(100vw - 40px);
    height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    transition: left .6s linear;
    border: rem(5px) solid $primary-color;
    background-color: $white;
    will-change: left;

    &.-open {
      left: 35px;
    }

    .close-button {
      display: flex;
      position: relative;
      right: 20px;
      bottom: 20px;
      align-items: center;
      justify-content: center;
      width: rem(30px);
      height: rem(30px);
      transition: .2s linear;
      border: 5px solid $primary-color;
      background-color: $white;
      color: $primary-color;
      font-family: $primary-font;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }

    .list-options {
      display: inline-block;
      position: relative;
      right: 20px;
      list-style: none;

      li {
        margin-bottom: rem(20px);
        padding: $padding-xxs;
        border: 5px solid $primary-color;
        background-color: $white;
        cursor: pointer;

        &.-selected {
          background-color: $primary-color;
          color: $white;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .content {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      flex-flow: row wrap;
      justify-content: space-between;
      width: calc(100% - 150px);
      height: 100%;
      max-height: calc(100% - 50px);
      padding-top: rem(33px);
      overflow-y: scroll;

      .project-info {
        h2 {
          font-size: $font-xs;
          font-weight: 400;

          .bar {
            color: $primary-color;
          }
        }

        .btn-see-more {
          display: inline-block;
          margin-top: -5px;
          padding: $padding-xxs;
          border-left: 5px solid $primary-color;
          color: $black;
        }

        p {
          margin-top: rem(5px);
          font-size: $font-xxs;
          line-height: 1.4;
        }

        &.-robyt-contain,
        &.-map-game-contain,
        &.-lifefont-contain {
          flex-basis: 45%;
        }

        &.-map-game-contain {
          margin-top: rem(100px);
        }
      }
    }
  }
}
