// Basic styles

body,
html {
  max-width: 100%;
  font-family: $primary-font;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

p {
  font-family: $secondary-font;
}

a {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
  -webkit-padding-start: 0 !important;
}
