@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');

$primary-font: 'Source Serif Pro', serif;;
$secondary-font: 'Source Serif Pro', serif;;

$font-size-xxl: 80px;
$font-size-xl: 44px;
$font-size-l: 28px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-xs: 16px;
$font-size-xxs: 12px;

.text {
  &.-font-xxl {
    font-size: $font-size-xl;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-xxl;
    }
  }

  &.-font-xl {
    font-size: $font-size-l;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-xl;
    }
  }

  &.-font-l {
    font-size: $font-size-m;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-l;
    }
  }

  &.-font-m {
    font-size: $font-size-s;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-m;
    }
  }

  &.-font-s {
    font-size: $font-size-xs;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-s;
    }
  }

  &.-font-xs {
    font-size: $font-size-xxs;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-xs;
    }
  }

  &.-font-xxs {
    font-size: $font-size-xxs;
  }

  &.-black {
    color: $black;
  }

  &.-white {
    color: $white;
  }

  &.-primary-color {
    color: $primary-color;
  }

  &.-center {
    text-align: center;
  }

  &.-underline {
    text-decoration: underline;
  }

  &.-bold {
    font-weight: 700;
  }

  &.-primary-font {
    font-family: $primary-font;
  }

  &.-line-through {
    text-decoration: line-through;
  }

  &.-disabled-menu {
    opacity: .5;
    cursor: not-allowed;
  }
}
