@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Roboto+Mono:300,400,500,700');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto Mono', monospace;

$font-xxl: rem(100px);
$font-xl: rem(50px);
$font-l: rem(40px);
$font-s: rem(30px);
$font-xs: rem(25px);
$font-xxs: rem(18px);

$font-extra-light: 200;
$font-light: 400;
$font-semi: 600;
$font-bold: 700;

.primary-font {
  font-family: $primary-font;
}

.secondary-font {
  font-family: $secondary-font;
}
