html,
body {
  background-color: $white;
  font-family: $secondary-font;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-font;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    outline: 0;
    cursor: pointer;
    border-radius: 0;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}
